<div ng-repeat="post in posts" class="blog-post">
    <span class="delete-post" title="delete" ng-click="deletePost(post)">×</span>
    <i class="glyphicon glyphicon-edit edit-post" ng-click="editPost(post)"></i>
    <h2 class="blog-post-title">{{post.title}}</h2>
    <img ng-src="{{post.image}}" class="img-responsive">
    <p class="blog-post-meta">{{post.date| date: 'hh:mm MMMM dd, yyyy'}} by <a href="#" class="blog-post-author">{{post.author}}</a></p>
    <pre class="post-content">{{post.body}}</pre>
</div>